* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --main-color: #14ff00;
}

html {
    font-family: "Inter", sans-serif;
    font-size: 20px;
    scroll-behavior: smooth;
}

.hidden {
    display: none;
}

body {
    background-color: #232323;

}

h1 {
    display: inline;
    font-size: 80px;
    font-weight: 400;
    color: var(--main-color);
    height: 1em;
    overflow-wrap: normal;
}

#typing-box {
    margin-left: 150px;
}


@keyframes blink {
    0% {
        color: var(--main-color);
    }

    49% {
        color: #232323;
    }
}

main {
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr;
}

header {
    position: fixed;
    width: 100%;
    max-width: 1920px;
    padding: 2rem;
    display: grid;
    justify-content: end;
    justify-self: center;
}


/* navbar */
li {
    display: inline;
    list-style: none;
    font-size: 28px;
    padding: 0.7rem;
    margin-top: 77px;
}

a {
    text-decoration: none;
    color: var(--main-color);
}

a:hover {
    color: #19cc08;
}

a:active {}


#menu {
    color: var(--main-color);
    cursor: pointer;
    padding: 10px;
}

#menu>div {
    background-color: var(--main-color);
    height: 4px;
    width: 52px;
    margin: 10px;
    display: none;
}

#menu>#bottom {
    width: 25px;
}

/* dropdown */
#dropdown {
    width: 100vw;
    position: fixed;
    top: 80px;
    text-align: center;
    box-shadow: 0px 2px 20px 0px var(--main-color);
    transition: all 200ms;
    transform: translatey(-400px);
    opacity: 0;
}

#dropdown>ul>li {
    display: block;
    margin: 1rem;
}

/* home screen */

.home {
    width: 100%;
    max-width: 1920px;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: start;
    justify-self: center;
    overflow: hidden;
}

@media screen and (max-width: 1200px) {

    #typing-box,
    #cursor {
        font-size: 3rem;
    }

    #typing-box {
        margin-left: 1rem;
    }

    li {
        font-size: 1.2rem;
    }

    header {
        padding: 1rem;
    }
}

@media screen and (max-width: 550px) {

    #typing-box,
    #cursor {
        font-size: 2rem;
    }

    li {
        display: none;
    }

    #menu>div {
        display: block;
    }
}

/* tic tac toe screen */

#game {
    height: 100vh;
    display: flex;
    align-items: center;
}

.board {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    width: 580px;
    height: 580px;
    margin-left: 85px;
}

.box {
    font-size: 80px;
    color: var(--main-color);
    text-align: center;
    transition: all 200ms;
    display: flex;
    justify-content: center;
    align-items: center;
}

.one,
.four,
.seven {
    border-right: 7px solid var(--main-color);
}

.three, 
.six, 
 .nine {
    border-left: 7px solid var(--main-color);
}

.one,
.two,
.three {
    border-bottom: 7px solid var(--main-color);
}

.four,
.five,
.six {
    border-bottom: 7px solid var(--main-color);
}